body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#content {
  display: block;
}

#content .title {
  display: block;
  padding-left: 350px;
  font-size: 35pt;
  font-style: italic;
  text-shadow: 3px 3px 3px #808080;
}

#content .leader {
  display: inline-block;
  width: 150px;
  border: 1px solid #000;
}

#content .leader .memberImage {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

#content .leader .memberImage img {
  width: 100%;
}

#content .leader .memberImage .memberName {
  display: block;
  width: 80%;
  margin: 15px auto;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}

#content .leader .statName, #content .leader .statScore {
  background-image: linear-gradient(rgba(131, 140, 132, 1), rgba(131, 140, 132, 0.5));
  text-align: center;
  color: #fff;
  font-size: 15pt;
  font-weight: bold;
  padding: 10px;
}
