doctype html
html
  head
    title= 'Weekly Leader'
    link(rel='stylesheet', href='/stylesheets/style.css?v=2')
  body
    #content
      h1.title= 'Weekly Leader'
      each leader in leaders
        .leader
          .statName= leader.statName
          .memberImage
            - if (leader.members.length == 1)
              img(src=leader.members[0].thumbnailUrl)
            - else
              each member in leader.members
                .memberName= member.name
          .statScore= leader.leaderScore
